$color-white: #FFFFFF;
$color-orange: #FAA111;
$color-blue: #0093EE;
$color-red: #FA4242;
$color-green: #86C13D;
$color-default: #0A2C4D;
$color-indigo-blue: #0a2b4d;
$color-grey: #edeff0;
$color-yellow: #FFE837;
$color-grey-light: #edeff0;
$border-color-default: #edeff0